subscription_id      = "your-subscription-id"
resource_group_name  = "your-resource-group"
location             = "westeurope"
virtual_network_name = "iac-vnet"
subnet_name          = "your-subnet-name"
vm_name              = "les03-vm"
vm_size              = "Standard_B2ats_v2"
admin_username       = "iacuser"
ssh_public_key_path  = "/home/user/.ssh/id_ed25519.pub"